<%if @article.errors.any? %>
<h1>Terdapat pesan errors</h1>
<% puts "terdapat pesan error" %>
<ul>
    <%@article.errors.full_messages.each do |msg|%>
        <% if msg.to_s == "Title is too short (minimum is 3 characters)" %>
        <li> Judul nya pendek (minimum 3 karakter)</li>
        <% elsif msg.to_s == "Description is too short (minimum is 3 characters)" %>
        <li> Description nya pendek (minimum 3 karakter) 
        <% end %>
    <% end %>
</ul>
<% end %>
<%= form_for @article do |f| %>
    <p>
        <%= f.label :title %> <br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :description %> <br>
        <%= f.text_area :description %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>
<%= link_to 'back to article listing', articles_path %> |
<%= link_to 'about', "http://localhost:3000/pages/about" %>|
<%= link_to 'Home', "http://localhost:3000/pages/home" %>