<%if @article.errors.any? %>
<h1>Terdapat pesan errors</h1>
<% puts "terdapat pesan error" %>
<ul>
    <%@article.errors.full_messages.each do |msg|%>
        <% if msg.to_s == "Title is too short (minimum is 3 characters)" %>
        <li> Judul nya pendek (minimum 3 karakter)</li>
        <% elsif msg.to_s == "Description is too short (minimum is 3 characters)" %>
        <li> Description nya pendek (minimum 3 karakter) 
        <% elsif msg.to_s == "Title can't be blank"%>
        <li>Title Harus Di isi tidak boleh kosong</li>
        <% elsif msg.to_s == "Description can't be blank"%>
        <li>Description Harus di isi tidak boleh kosong</li>
        <% end %>
    <% end %>
</ul>
<% end %>

<div class='row'>
    <div class='col-xs-12'>
<%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
            <div class= "control-label col-sm-2">
                <%= f.label :title %>
            </div>
            <div class="col-sm-8">
                <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
            </div>
        </div>
        <div class="form-group">
            <div class= "control-label col-sm-2">
                <%= f.label :description %>
            </div>
            <div class="col-sm-8">
                <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of article" %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <%= f.submit class:'btn btn-primary btn-lg' %>
            </div>
        </div>
<% end %>
        <div class="col-xs-4 col-xs-offset-4" >
            |<%= link_to 'Cancel Request and return to article listing', articles_path %>|
    </div>
</div>
</div>
<%= link_to 'about', "http://localhost:3000/pages/about" %>|
<%= link_to 'Home', "http://localhost:3000/pages/home" %>