<h1> Listing All article</h1>
<%=  link_to 'create new article', new_article_path %>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <% @articles.each do |article| %>
    <tr>
        <td><%= article.title %> </td>
        <td><%= article.description %></td>
        <td><%= link_to 'edit', edit_article_path(article) %><td>
        <td><%= link_to 'show', article_path(article) %><td>
        <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "are you sure?"} %></td>
        
    </tr>
    <% end %>
    </table>
    
    <%= link_to 'about', "http://localhost:3000/pages/about" %>|
    <%= link_to 'Home', "http://localhost:3000/pages/home" %>
    
